body {
	margin: 0;
	padding: 0;
	border: none;
	background: #7aa8cf;
}

*{
	box-sizing: border-box;
}

.header {
	width: 100%;
	height: 100px;
	background-color: #386e9b;
	display: inline-block;
}

#header-txt {
	float: left;
	color: #9fbcd3;
	text-decoration: none;
	line-height: 95px;
	font-size: 5vh;
	font-weight: bold;
	margin-left: 50px;
}

#header-block {
	float:left;
	margin-left: 10px;
	height: 75px;
	width: 10px;
	background-color: #9fbcd3;
	margin-top: 15px;
}

#intro{
	font-size: 30px;
	color: #9fbcd3;
	margin-top: 50px;
}

#who{
	font-size: 20px;
	color: #9fbcd3;
	margin-top: 56px;

}

ul {
	margin-top: -8px;
	float: left;
 	list-style-type: none;
 	line-height: 95px;
	font-size: 2.5vh;
	overflow: hidden;
}

li {
 	float: left;
}

.menuItems{
	line-height: 100px;
 	display: block;
 	color: #9fbcd3;;
 	text-align: center;
 	padding: 4px 16px;
 	text-decoration: none;
}

li a:hover {
 	background-color: #44749c;
}

.content-div {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	background-color: #275b85;
	width: 96%;
	height: 800px;
 	font-size: large;
	 color: #e7d8d8;
 }

.content-div h1{
	text-align: center;
}
.container {
  padding: 16px;
  background-color: #275b85;
}

input[type=text] {
  width: 100%;
  padding: 20px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
	background-color: #567fa0;
  color: white;
}

input[type=text]:focus {
  background-color: #516272;
  outline: none;
}

hr {
  border: 1px solid #516272;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover{
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
	background-color: #f1f1f1;
	text-align: left;
}
.button4 {background-color: #e7e7e7}

.button {
	background-color: black;
	text-align: left;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}